<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <extension point="org.knime.workbench.repository.categories">
         
      <!-- Google Analytics Management -->
      <category icon="icons/ga-management.png" level-id="gam" locked="false" name="Google Analytics Management" path="/pg/google/ganalytics">
      </category>
      
   </extension>
   
   <extension point="org.knime.workbench.repository.nodes">
      	<node category-path="/pg/google/ganalytics/gam" factory-class="com.pg.google.api.management.listusers.node.GoogleAnalyticUsersNodeFactory" id="com.pg.google.api.management.node.GoogleAnalyticUsersNodeFactory"/>
   	  	<node category-path="/pg/google/ganalytics/gam" factory-class="com.pg.google.api.management.updatepermissions.node.GoogleAnalyticsUpdatePermissionsNodeFactory" id="com.pg.google.api.management.updatepermissions.node.GoogleAnalyticsUpdatePermissionsNodeFactory"/>
   	  	<node category-path="/pg/google/ganalytics/gam" factory-class="com.pg.google.api.management.listcustomdimensions.node.GoogleAnalyticsListCustomDimensionsNodeFactory" id="com.pg.google.api.management.listcustomdimensions.node.GoogleAnalyticsListCustomDimensionsNodeFactory"/>
		<node category-path="/pg/google/ganalytics/gam" factory-class="com.pg.google.api.management.insertcustomdimensions.node.GoogleAnalyticsInsertCustomDimensionsNodeFactory" id="com.pg.google.api.management.insertcustomdimensions.node.GoogleAnalyticsInsertCustomDimensionsNodeFactory"/>
		<node category-path="/pg/google/ganalytics/gam" factory-class="com.pg.google.api.management.removeuser.node.RemoveUserNodeFactory" id="com.pg.google.api.management.removeuser.node.RemoveUserNodeFactory"/>
   		<node category-path="/pg/google/ganalytics/gam" factory-class="com.pg.google.api.management.addusertoprofile.GoogleAnalyticsAddUserToProfileNodeFactory" id="com.pg.google.api.management.addusertoprofile.GoogleAnalyticsAddUserToProfileNodeFactory"/>
   		<node category-path="/pg/google/ganalytics/gam" factory-class="com.pg.google.api.management.patchprofile.PatchProfileNodeFactory" id="com.pg.google.api.management.patchprofile.PatchProfileNodeFactory"/>
		<node category-path="/pg/google/ganalytics/gam" factory-class="com.pg.google.api.management.listprofilefilters.ListProfileFiltersNodeFactory" id="com.pg.google.api.management.listprofilefilters.ListProfileFiltersNodeFactory"/>
		<node category-path="/pg/google/ganalytics/gam" factory-class="com.pg.google.api.management.removeprofile.node.RemoveProfileNodeFactory" id="com.pg.google.api.management.removeprofile.node.RemoveProfileNodeFactory"/>
</extension>
   
</plugin>
